@charset "utf-8";
/*css document*/

.hidden {
	display: none;
}

#siteContainer{
	width: 960px;
	background-color: grey;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;


}
#mainHeader{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#logo{
	height: 130px;
	width: 130px;
	background-color: black;
	margin-left: 110px;
	margin-top: 30px;
	margin-bottom: 20px;

}
#mainNav{
	margin-left: auto;
	width: 515px;
	height: 45px;
	background-color: black;
	margin-top: 70px;
	margin-right: 65px;

}

#fullSeperator{
	width: 100%;
	height: 1px;
	background-color: black;
	margin-bottom: 20px;
}


#footer{
	display: flex;
	flex-direction: column;

}

#footerNav{
	width: 515px;
	height: 45px;
	background-color: black;
	margin-top: 40px;
	margin: 0 auto;
	margin-bottom: 20px;;
}

#copyright{
	width: 150px;
	height: 30px;
	background-color: black;
	margin: 0 auto;
	margin-bottom: 20px;

}
#fishAnimation{
	width: 270px;
	height: 50px;
	background-color: black;
	margin: 0 auto;
	margin-bottom: 20px;
}

/* Newsletters Page Elements*/

#title{
	height: 50px;
	width: 300px;
	background-color: black;
	margin: 0 auto;
	margin-bottom: 20px;
}

#intro{
	display: flex;
	flex-direction: column;

}

#introH2{
	width: 570px;
	height: 40px;
	background-color: black;
	margin: 0 auto;
	margin-bottom: 20px;
}

#introP{
	width: 410px;
	height: 230px;
	background-color: black;
	margin: 0 auto;
	margin-bottom: 20px;
}

#archive{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

}

#archiveH2{
	width: 580px;
	height: 70px;
	background-color: black;
	margin: 0 auto;
	margin-bottom: 20px;
}

#boxLeft{
	width: 400px;
	height: 440px;
	background-color: black;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-left: 10px;
}

#boxRight{
	width: 400px;
	height: 440px;
	background-color: black;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-right: 10px
}
